#virtual environment 
*myenv

#ignoring pycache file 
orchestrations/*__pycache__/
main_library/*__pycache__/

#ignoring the environment file
*.env

# Ignore the entire orchestrations folder and its contents
/orchestrations/

