#virtual environment 
*myenv

#Generated_orchestartion_file as it changes everytime we run app.py file
/orchestrations/*

#ignoring pycache file 
orchestrations/__pycache__/
main_library/__pycache__/

#ignoring the environment file
.env