Flask
requests
python-dotenv
openai==0.28
anthropic
google-generativeai
weaviate-client
sentence-transformers
PyPDF2
tqdm
faiss-cpu 
pypdf  
numpy
chromadb
msal
flask-cors
pymilvus
transformers
mysql-connector-python==9.2.0
keras-models==0.0.7
tensorflow==2.18.0
pandas
openai-whisper
gtts
tf-keras